 <!-- <app-user/> -->

<div>
  <h1>
    Que me parece Angular?
  </h1>
  
  <article>
    <p>
      Angular es un framework de desarrollo de aplicaciones web desarrollado por Google. 
      Es un framework de código abierto que se utiliza para desarrollar aplicaciones web de una sola página (SPA). 
      Angular es una reescritura completa de AngularJS, hecho por el mismo equipo que construyó AngularJS.
    </p>

    <p>
      Angular es un framework de desarrollo de aplicaciones web desarrollado por Google. 
      Es un framework de código abierto que se utiliza para desarrollar aplicaciones web de una sola página (SPA). 
      Angular es una reescritura completa de AngularJS, hecho por el mismo equipo que construyó AngularJS.
    </p>

    <p>
      Angular es un framework de desarrollo de aplicaciones web desarrollado por Google. 
      Es un framework de código abierto que se utiliza para desarrollar aplicaciones web de una sola página (SPA). 
      Angular es una reescritura completa de AngularJS, hecho por el mismo equipo que construyó AngularJS.
    </p>

    <p>
      Angular es un framework de desarrollo de aplicaciones web desarrollado por Google. 
      Es un framework de código abierto que se utiliza para desarrollar aplicaciones web de una sola página (SPA). 
      Angular es una reescritura completa de AngularJS, hecho por el mismo equipo que construyó AngularJS.
    </p>

    <p>
      Angular es un framework de desarrollo de aplicaciones web desarrollado por Google. 
      Es un framework de código abierto que se utiliza para desarrollar aplicaciones web de una sola página (SPA). 
      Angular es una reescritura completa de AngularJS, hecho por el mismo equipo que construyó AngularJS.
    </p>

    <p>
      Angular es un framework de desarrollo de aplicaciones web desarrollado por Google. 
      Es un framework de código abierto que se utiliza para desarrollar aplicaciones web de una sola página (SPA). 
      Angular es una reescritura completa de AngularJS, hecho por el mismo equipo que construyó AngularJS.
    </p>
  </article>
  
  @defer (on viewport) {
    <app-comments />
  } @placeholder {  
    <p>Futuros comentarios</p>
  } @loading {
    <p>Cargando comentarios...</p>
  }
</div>
